/* MIN WIDTH */
@media (min-width: 992px)
{
    #header .nav-link
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    
}

/* MAX MEDIUM */
@media (min-width: 768px) 
{
    #header .navbar-collapse
    {
        width: 100%;
    }
    /* #login-bg
    {
        background: url(../img/bgimg-login.png);
    } */
}

@media (max-width: 767.98px) 
{
    #login-bg
    {
        background: var(--secondary);
    }
}